/*COMMON TO EVERY PAGES */
body{
    font-family: Roboto Mono,monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.menu li{
    margin: 0px;
    padding: 0px;
}


.menu li a{
    color: #6d56c1;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}


.menu li a:hover{
    color: #ce9c9cf2;
    transition: 0.3s;
}


dd a{
   color:#fff;
    text-decoration: underline;
    transition: 0.3s;
}


.gradient{
background-image:
    linear-gradient(120deg, rgba(74,76,179,.95) 34%,rgba(206, 156, 156, 0.949)),
    url('assets/img/avatar.jpg');
background-size: cover;
left: 0;
right: 0;

content: "";
z-index: 0;
display: flex;
flex-direction: column;
}



/*index.html*/
.pfp{
    border-radius: 5px;
    box-shadow: 0 0 27px rgb(96 96 96 / 34%);
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 50px;
    margin: 15px;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.infos{
    padding: 15px;
    display: flex;
    color: white;
}

.personal_profile dt {
    float: left;
    clear: left;
    width: 110px;
    font-weight: bold;
    opacity: .4;
    text-transform: uppercase;
}


.personal_profile dd {
    margin: 0 0 0 150px;
    padding: 0 0 0.5em 0;
}

.social_media{
    display: flex;
    font-size:36px;
    
}

i{
    margin-right: 10px;
    opacity: .4;
    transition: width 2s;
}

i:hover{
    opacity: 1;
    transition: 0.3s;
}

.social_media a{
    color: #fff!important;
}

.paragraphs{
    display: flex;
    padding: 100px;
}

.bonjour, .hobbies{
    
    bottom: 100px;
    margin: 64px;
    padding: 15px;
    
}

.formation{
    
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 0px;
    margin-right: 64px;
    padding: 15px; 
    
}

.mywork{
    
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 0px;
    margin-right: 64px;
    padding: 15px; 
    
}

.bonjour p, .hobbies p, .formation p{
    max-width: 850px;
    font-family: sans-serif;
    margin: 0px;
}


/*formation.html*/

.formlist{
    margin: 64px;
    margin-top: 0px;
    margin-left: 64px;
    margin-bottom: 0px;
    margin-right: 64px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.edutitle{
    opacity: 0.4;
    letter-spacing: 3px;
    margin: 0px;
}

.formlist dt{
    font-weight: bold;
    color: #6d56c1;
}
.formlist span{
    margin: 0;
    opacity: 0.4;
}

.formlist ul{
    margin: 0px;
}



/*myprojects.html*/


.projectlist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.projectlist img{
    width: 240px;
    height: 240px;
    margin-left: 50px;
    margin: 0 auto;

    --color: #8A9B0F; /* the border color */
    --border: 10px;   /* the border thickness*/
    --offset: 20px;   /* control the offset*/
    --gap: 5px;       /* the gap on hover */
    
    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));
    padding: 
      calc(var(--gap) + var(--border))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border));
    background: 
      linear-gradient(      var(--_c)) var(--_o) var(--_o), 
      linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
}

.projectlist img:hover {
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);
  }
.containerproject{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    
}

.containerproject p{
    margin: 0px;
    font-size: small;
    margin-left: 20px;
}

.projectlist{
    flex-wrap: wrap;
}

/* FOOTER */

footer{
    padding: 0.5em;
    padding-top: 3em;
    color: #fff;
    background-image:
    linear-gradient(120deg, rgba(74,76,179,.95) 10%,hsla(0,34%,71%,.95)),
    url();
}

.linkedinfooter{
    color: #fff;
    font-size: inherit;
}

.container_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container_form textarea{
    height: 140px;
    resize: none;
    color: #fff;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    
}


.container_form textarea::placeholder{
    font-weight: bold;
    opacity: 0.5;
    color: #fff;
}

.form_title{

margin-left: auto;    
}

.form input{
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}

.form{
    margin-bottom: 15px;
}

::placeholder{
    color:#fff
}


.form input[type="submit"]:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    outline: 1px solid #000;
    opacity: 0.9;
}

.list-unstyled {
    padding-left: 0;
    list-style: none; }

/* Make thhe li links cooler */
.list-unstyled li a {
    padding: 0.5em 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    transition: 0.3s; }

.quicklinks_title h1{
    color: rgb(236, 236, 236);
}


.list-unstyled li a:hover {
    color: #fff;
    padding-left: 1em;
    transition: 0.3s; }

    
/* all the projects pages*/
/* make the paragraphs div a column flexbox */
.paragraphs{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

/* Make a encadré for the encadre div*/
/* Make the encadré to the size of the paragraph */



.encadre p{
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    width: auto;
    height: auto;

}

.javaparagraphs{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.subencadre{
    margin-bottom: 0px;
}

.liste{
    margin-top: 0px;
    
}

.maininfo{
    font-weight: bold;
    
}

.javaparagraphs i{
    font-size:36px;
    margin-bottom: 60px;
    color: #555;
}

.bold{
    font-weight: bold;
}




